<% content_for :title, "New pokemon" %>

<h1>New pokemon</h1>

<%= render "form", pokemon: @pokemon %>

<br>

<div>
  <%= link_to "Create with AI", new_with_ai_pokemons_path, class: "button" %>
</div>

<div>
  <%= link_to "Back to pokemons", pokemons_path %>
</div>
